@import "./variables";
@import "./animations";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  padding: 0;
  margin: 5px;
}

h1 { font-size: 35px; }
h2 { font-size: 30px; }
h3 { font-size: 25px; }

/** MIXINS **/

@mixin sectionContent() {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 50px;
  text-align: center;

  h2 {
    text-transform: uppercase;
  }

  p {
    line-height: 1.8;
  }
}

@mixin expertiseIcon($text_color, $background_color) {
  color: $text_color;
  background-color: $background_color;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 30px;

  p {
    line-height: 2;
  }
}

/* GENERIC STYLES */

.social-icons {
  margin: 15px;
  a {
    color: $maincolor-lighter;
    font-size: 25px;
    margin: 10px;
  }
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px;
  background-color: $maincolor-opacity;
  color: $white;
  animation: fade-in 1s;
  cursor: pointer;
}

.scroll-to-top-block {
  display: block;
}

/* CONTENT BODY */

.header {
  background-color: $maincolor;
  .logo-menu {
    max-width: 1100px;
    min-height: 78px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(220px, 1fr) 1fr;

    a { text-decoration: none; }

    .logo {
      display: grid;
      grid-template-columns: 50px auto;
      align-items: center;
      
      .icon {
        padding: 0 15px 0 10px;
        img {
          width: 32px;
          height: auto;
          padding-top: 3px;
        }
      }
  
      .text {
        .name {
          @extend .job-title;
          font-size: 16px !important;
          font-weight: 600;
        }

        .job-title {
          color: $white;
          margin: 0;
          padding: 0;
          font-size: 13px;
        }
      }
    }

    .menu {
      text-align: right;
      padding-right: 20px;
      ul {
        list-style: none;
        padding: 15px 2px 0 0;
        margin-right: 0 10px 0 0;
        display: block;

        li {
          display: inline-block;
          margin: 0;
          padding: 0;

          a {
            color: $white;
            padding: 10px;
            text-decoration: none;

            &:hover {
              @extend .active;
            }
          }

          .active {
            background-color: $maincolor-darker;
          }
        }
      }

      .hamburger {
        display: none;
      }
    }
  }
  
  .title-picture {
    max-width: 1100px;
    min-height: 765px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  
    .title {
      text-align: center;
      
      h1 {
        font-size: 40px;
        font-weight: 400;
        color: $white;
        padding: 0 10px;
      }
  
      h2 {
        font-size: 25px;
        font-weight: 400;
        color: $white;
      }
    }
  }
}

.expertise {
  .expertise-content {
    @include sectionContent();
    .expertise-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      > div {
        padding: 20px;
        margin: 5px;
      }

      .front-end {
        @include expertiseIcon(#58CFFF, #E9F9FF);
      }
      
      .back-end {
        @include expertiseIcon(#FFC261, #FFF4E4);
      }
      
      .ci-cd {
        @include expertiseIcon(#F66565, #FFF5F6);
      }
    }
  }
}

.technical-skills {
  background-color: $dirty-white;
  .technical-skills-content {
    @include sectionContent();
    max-width: 1020px;
  }
}

.footer {
  background-color: $maincolor;
  color: $white;
  .footer-content {
    @include sectionContent();
    padding: 35px;
    
    div { 
      padding: 5px;

      .footer-icon {
        font-size: 18px;
        margin-right: 5px;
      }
    }
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 885px) {
  .header {
    .title-picture {
      grid-template-columns: 1fr;
      min-height: auto;
      padding: 100px 0;
    
      .picture {
        display: none;
      }
    }
  }

  .expertise {
    .expertise-content {
      .expertise-items {
        grid-template-columns: 1fr 1fr;

        > div {
          background-color: $dirty-white;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .logo-menu {
      .menu {
        ul {
          display: none;
          position: absolute;
          top: 78px;
          left: 0;
          width: 100%;
          text-align: left;
          padding: 0;
          margin: 0;
          
          li {
            display: block;
            a {
              display: block;
              width: 100%;
              padding: 10px 15px;
            }
          }
        }

        .hamburger {
          display: block;
          margin: 20px 5px;
          color: $white;
          font-size: 30px;

          .hamburger-icon {
            cursor: pointer;
          }
        }

        .show-menu {
          display: block !important;
          animation: fade-in 1s;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .expertise {
    .expertise-content {
      .expertise-items {
        grid-template-columns: 1fr;
      }
    }
  }
}

/* CSS FILTER */

.skills-container {
  text-align: center;
  padding-top: 15px;
}

.skill {
  display: inline-block;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 1px;
  animation: wipe-enter 1s 1;
}

.level {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 600;
}

.beginner_btn {
  color: #77DD77;
}

.intermediate_btn {
  color: #F7DA63;
}

.advanced_btn {
  color: #FF6961;
}

.beginner {
  background-color: #77DD77;
}

.intermediate {
  background-color: #F7DA63;
}

.advanced {
  background-color: #FF6961;
}

.show-skill {
  display: inline-block;
}

.hide-skill {
  display: none;
}

